.container {
    background-color: #6f7bc2;
    color: #fff;
    padding: 10px;
    text-align: center;
    max-width: 100%;
  }
  
  /* Estilo para o texto no rodapé */
  .container p {
    margin: 0;
  }

